*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: rgb(26, 26, 26);
    padding: 20px;
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    
  }
  
  nav ul {
    list-style-type: none;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
  }

  input {
    border-radius: 15px; 
  }
  
  /* Basic CSS for the form elements */
  body {
    font-family: Arial, sans-serif;
  }
  
  h1 {
    color: #fff;
    font-size: 350%;
    font-style: bold;
  }
    
  label {
    display: inline-block;
    width: 100px;
  }
  
  input[type="text"],
  input[type="number"],
  select {
    width: 250px;
    padding: 5px 10px;
  }
  
  button {
    padding: 7px 15px;
    background-color: #4c98af;
    border-radius: 15px; 
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #607bc6;
  }
  
  h2 {
    color: #fff;
    font-size: 150%;
    font-style: bold;
  }
  
  #report,#result {
    padding: 10px;
    max-width: 400px;
    word-wrap: break-word;
  }
#result{
  height: 400px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
  #result img{
    width: 200px;
    height: 100px;
  }

  #centerNav {
    justify-content: left;
    width: 40%;
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    gap: 20px; 
  }
  
  #endNav {
    justify-content: right;
    width: 100%;
    display: flex;
    flex-direction: row; 
    gap: 5px; 

  }

  li {
    display: inline;
  }

  .background-container {
    background-image: linear-gradient(45deg, rgba(34, 127, 124, 0.7), rgba(200, 37, 176, 0.3)), url('dream\ destination2.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    padding: 15%;
    align-items: center;
    color: white;
    text-align: center;
    box-sizing: border-box;
    flex-direction: row; 
    gap: 30px; 
  }

  .container {
    flex-direction: row;
    display: flex;
  }

  .left-container {
    text-align: left;
    display: flex;
    flex-direction: column; 
    gap: 20px; 
    width: 50%
  }
  .right-container {
    overflow-y: auto;
    height: 50vh;
    width: 50%;
    display: flex;
    flex-direction: column; 
    gap: 20px; 
    padding: 30px;
    background-color: rgb(0, 0, 0, 0.5);
  }

  .icon-img {
    width: 50px;
    height: 50px;
}

.dest-img {
    width: 100%;
}

.divider {
    border-top: 1px solid white;
    margin: 20px 0;
}